.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.contenedor-vistas{
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    flex: 1;
    height: 100%;
    width: 100%;
}

.contenedor-productos{
    background-color: white;
    min-height: 600px;
    max-height: fit-content;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.area-banner{
    width: 100%;
    height: 170px;
    min-height: 170px;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-position: center;
}
.area-productos{
    padding-top: 30px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right:20px;
}
.titulo{
    font-size: 25px;
    color: #FAA613;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: -20px;
}

.titulo p {
    margin-bottom: 0px;
}

.iterador{
    width: 100%;
}
.producto{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    align-items: center;
    box-sizing:border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.img-producto{
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 10px;
    
}

.datos-producto{
    width: 150px;
    height: 45px;
    color: #688E26;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    padding-top: 10px;

}

.datos-producto p{
    margin-top: -5px;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}

.datos-producto .dato {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}
.datos-producto label{
    color: black;
    margin-bottom: 0px;
    margin-right: 10px;
}

.datos-producto .direccion {
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 5px;
}


.productos-orden{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.producto-orden{
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    align-items: center;
    box-sizing:border-box;
    border-radius: 10px;
    margin-bottom: 20px;
}

.img-producto-orden{
    width: 60px;
    max-width: 60px;
    height: 60px;
    max-height: 60px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 10px;
    
}

.datos-comercio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.dato{
    color: #688E26;
    font-size: 15px;
    font-weight: bold;
}

.dato .info{
    color: black;
    font-weight: 600;
}
.datos-usuario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    
}

.img-comercio-orden{
    width: 80px;
    max-width: 80px;
    height: 80px;
    max-height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.datos-usuario{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.img-usuario{
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 10px;
    
}
.datos{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.datos label{
    font-size: 15px;
    color: gray;
    font-weight: 500;
    margin-bottom: 0px;
}
.datos .Nombre{
    font-size: 18px;
    color: #688E26;
    font-weight: bold;
}

.titulo-orden{
    color: rgb(63, 63, 63);
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 30px;
    text-decoration: underline;
}
.contenedor-ubicacion{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mapa{
    background-color: white;
    width: 95%;
    height: 100%;
    border-radius: 20px;
}
.modal-title{
    color: #688E26;
}

.modal-footer{
    justify-content:center;
    width: 100%!important;
}
.totales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #688E26;
    width: 100%;
    padding-bottom: 20px;
}

.totales .form-label{
    color: #FAA613;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.totales p{
    color: #688E26;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

.subtotales{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.total{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.datos-productos p{
    margin-left: 5px;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}


.datos-productos .nombre-producto{
    font-size: 15px;
    margin-left: 15px;
    flex: 1;

}

.datos-productos  .precio{
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    min-width: 50px;
}
.datos-productos  .comercio{
    font-size: 20px;
    font-weight: bold;
    color: #FAA613;
}

.datos-productos .direccion{
    font-size: 12px;
}

.datos-productos .sub-contenedor{
    display: flex;
    align-items: center;
}

.cantidad {
    color: #FAA613;
}