<div class="nav">
    <fa-icon class="icono icono-usuario" [routerLink]="['/perfil']" routerLinkActive="router-link-active"   [icon]="faUser"></fa-icon>
    
    <div class="estado">
        <p>Estado:</p>
        <div *ngIf="Motorista != ''" class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1"  [checked]="Motorista[0].Estado== 'Activo'">
            <label class="custom-control-label" for="customSwitch1"></label>
        </div>
    </div>    
</div>
<div *ngIf="Motorista != ''" class="bienvenida">
    <img class="rounded rounded-circle" src="../../../assets/images/fotos perfil/{{Motorista[0].ImagenMotorista}}" alt="">
    <div class="datos">
        <p>Hola, {{Motorista[0].Nombre}}</p>
        <p>Numero de Placa: {{Motorista[0].Placa}}</p>
    </div>
</div>